@import '../../../styles/variables.scss';
@import '../../../styles/breakpoints.scss';

.registrations-table {
  font-family: roboto, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: auto;
  width: 97%;

  td,
  th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    color: $darkgrey;
  }

  td {
    background-color: white;

    .registrations-notification-btn {
      background: none;
      color: $darkgrey;
      font-size: 24px;

      &:hover {
        color: $blue;
      }
    }

    .registrations-delete-btn {
      background: none;
      color: $darkgrey;
      font-size: 24px;

      &:hover {
        color: red;
      }
    }
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
  }

  .company-col,
  .position-col {
    @include media('<=tablet') {
      display: none;
    }
  }

  .email-col,
  .position-col,
  .company-col,
  .workshops-col,
  .country-col,
  .type-col {
    @include media('<=phone') {
      display: none;
    }
  }
}
