@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.page{
    display: flex;
}

.body{
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    background-color: $grey;
    @include media('<=desktop'){
        width: 100%;
    }
}