@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.all-notifications-header{
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 2.5%;
    @include media('<=desktop'){
        margin: 50px 2.5% 10px 2.5%;
        flex-direction: column;
        align-items: flex-start;
    }
    @include media('<=tablet'){
        margin: 50px 5% 10px 5%;
    }

    h1{
        margin-left: 0;
        @include media('<=phone'){
            font-size: 24px;
          }
    }

    .new-notification-btn{
        @include button(40px, $darkgrey);
        margin-top: 0;
    
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.all-notifications-body{
    width: 95%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 20px  rgba(53, 53, 53, .2);
    @include media('<=tablet'){
        width: 90%;
    }
}