@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.workshop-attendees-header {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 2.5%;
    @include media('<=desktop'){
        margin: 50px 2.5% 10px 2.5%;
        flex-direction: column;
        align-items: flex-start;
    }
    @include media('<=tablet'){
        margin: 50px 5% 10px 5%;
    }

    h1{
      margin-left: 0;
      @include media('<=phone'){
          font-size: 24px;
        }
  }
}

.workshop-attendees-body {
  width: 95%;
  margin: 0 auto 40px auto;
  background-color: white;
  box-shadow: 0 0 20px rgba(53, 53, 53, 0.2);
  @include media('<=tablet'){
    width: 90%;
}

  .search-attendee {
    width: 20%;
    margin: 10px ;
    @include media('<=tablet'){
      width: 50%;
  }
  }
}

.workshop-info {
  @include workshop-info-card;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 1px solid $darkgrey;
}

.workshop-info-header {
  @include workshop-info-card-header;

  .workshop-info-date {
    display: flex;

    .date {
      margin-right: 10px;
    }
  }

  .workshop-info-header-btns {
    margin-right: 10px;

    .workshop-icons {
      @include workshop-info-card-header-btns;
    }
  }
}

.workshop-info-body {
  @include workshop-info-card-body;
  @include media('<=phone'){
    flex-direction: column;
  }
}

.workshop-info-left {
  @include workshop-info-card-body-half(start);
  @include media('<=phone'){
    width: 100%;
    align-items: flex-start;
    border-bottom: 1px solid $darkgrey;
    border-right: none;
  }

  h2,
  h4,
  p {
    font-family: roboto;
    color: $darkgrey;
  }
}

.workshop-info-right {
  @include workshop-info-card-body-half(end);
  border: none;
  @include media('<=phone'){
    width: 100%;
    align-items: flex-start;
}

  .room-manager {
    display: flex;
    justify-content: flex-end;
    @include media('<=tablet'){
      flex-direction: column;
      align-items: flex-end;
    }
    @include media('<=phone'){
      align-items: flex-start;
    }

    .room {
      margin-right: 15px;
    }
  }

  p {
    font-family: roboto;
    color: $darkgrey;

    span {
      font-weight: 500;
    }
  }

  .open {
    color: green;
  }

  .closed {
    color: red;
  }
}

.workshop-info-footer {
  @include workshop-info-card-footer;

  button {
    @include button(30px, $blue);
    margin-top: 0;
  }
}

.attendees-table {
  @include table;

  td,
  th {
    @include td-and-th;
  }

  td {
    @include td;
  }

  th {
    @include th;
  }

  .position-col,
  .company-col,
  .country-col,
  .reg-date-col{
    @include media('<=phone'){
      display: none;
   }
  }
}

/***** DROPDOWN *****/

.dropdown {
  position: relative;
}

.options-icon {
  @include options-btn;
}

.workshop-info-dropdown {
  @include dropdown(28px);
  right: 25px;

  .delete-workshop-btn:hover {
    @include dropdown-delete-btn-hover;
  }

  button {
    @include dropdown-item;

    &:hover {
      @include dropdown-item-hover;

      a {
        color: white;
      }
    }

    a {
      text-decoration: none;
      color: $darkgrey;
    }
  }
}

.dropdown:hover .workshop-info-dropdown {
  @include open-dropdown-hover;
}
