@import "../../styles/variables.scss";

/***** PAGE TITLE *****/

h1{
    @include page-title;
}

/***** BODY LAYOUT *****/

.profile-body{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
}

/***** USER SETTINGS *****/

.user-settings{
    @include edit-profile-box(97%);
    margin-bottom: 20px;

    button{
        @include button(30px, $blue);
    }
}

.user-settings-title{
    @include edit-profile-title(40px);
}

.user-settings-form{
    @include edit-profile-form;

    label{
        @include edit-profile-label;
    }

    input{
        @include edit-profile-input;
        margin-left: 0;
    }
}

.password-form{
    @include edit-profile-form;

    label{
        @include edit-profile-label;
    }

    input{
        @include edit-profile-input
    }
}

.email,
.name,
.password{
    display: flex;
}

.email{
    width: 50%;

    .label-input{
        width: 100%;
    }
}

.change-password-btn{
    width: fit-content;
    margin: 0 0 10px 10px;
}

/***** CONTACT SETTINGS *****/

.contact-settings{
    @include edit-profile-box(97%);
    margin-bottom: 20px;

    button{
        @include button(30px, $blue);
    }
}

.contact-settings-title{
    @include edit-profile-title(40px);
}

.contact-settings-form{
    @include edit-profile-form;

    label{
        @include edit-profile-label;
    }

    input{
        @include edit-profile-input;
        margin-left: 0;

    }

    select{
        @include edit-profile-select(29px, 90%)
    }
}

.country-company,
.position{
    display: flex;
}

.position{
    width: 50%;

    .label-input{
        width: 100%;
    }
}

/***** FORM LABLEL/INPUT LAYOUT *****/

.label-input{
    display: flex;
    flex-direction: column;
    width: 90%;
}

